@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0;
    --background: #F5EFD9;
    --foreground: #000;
    --card: #F5EFD9;
    --card-foreground: #000;
    --primary: #e3dcb8;
    --primary-hover: #d1c8a1;
    --primary-foreground: #000;
    --secondary: #000;
    --secondary-foreground: #F5EFD9;
    --muted: #aeaeae;
    --muted-foreground: #5a5a5a;
    --accent: #ebe4cd;
    --accent-foreground: #000;
    --destructive: #e63946;
    --destructive-foreground: #F5EFD9;
    --border: #000;
    --input: #F5EFD9;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}